/* Form Styles */
.form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust width as needed */
    margin: auto; /* Center the form */
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-success {
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.btn-info {
    background-color: #17a2b8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

/* General Styles */
/*body {
    background-image: url('../Content/image/Rental_fom_Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center; /* Center align horizontally */
    /*align-items: center; /* Center align vertically */
    /*height: 100vh;*/ /* Full height of the viewport */
/*}*/

/*.container {
    width: 100%;
    max-width: 600px; /* Adjust max-width as needed */
}*/
